[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/codebench"]
	path = modules/codebench
	url = https://github.com/kohana/codebench.git
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/kohana/database.git
[submodule "modules/image"]
	path = modules/image
	url = https://github.com/kohana/image.git
[submodule "modules/orm"]
	path = modules/orm
	url = https://github.com/kohana/orm.git
[submodule "modules/auth"]
	path = modules/auth
	url = https://github.com/kohana/auth.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = https://github.com/kohana/userguide.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = https://github.com/kohana/unittest.git
[submodule "modules/minion"]
	path = modules/minion
	url = https://github.com/kohana/minion.git
[submodule "modules/ssdb"]
	path = modules/ssdb
	url = git@github.com:perhome/kohana-ssdb.git
[submodule "modules/cache"]
	path = modules/cache
	url = git@github.com:perhome/kohana-cache.git
[submodule "modules/account"]
	path = modules/account
	url = git@github.com:perhome/kohana-account.git
[submodule "modules/captcha"]
	path = modules/captcha
	url = git@github.com:perhome/kohana-captcha.git
[submodule "modules/article"]
	path = modules/article
	url = git@github.com:perhome/kohana-article.git
[submodule "modules/markdown"]
	path = modules/markdown
	url = git@github.com:perhome/kohana-markdown.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git@github.com:perhome/kohana-pagination.git
